$red: #822000;
body {
  background-color: #ffffff;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 1rem;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

h1, h2, th, .attribute-label, .tidbit-label {
  color: $red;
  font-weight: bold;
}

main {
  display: flex;

  aside {
    width: 30%;
    margin-right: 1rem;
  }
  article {
    width: 70%;
  }
}

.attributes, .stats, .tidbits {
   border-top: 2px solid $red;
   padding: 1rem 0;
}

.stats {
  width: 100%;

  th, td {
    width: 16.666667%;
    text-align: center;
  }
}
